@model Product
<!-- Begin Page Content -->
<div class="container">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Products Details</h6>
		</div>
		<div class="card-body">
			<p>Id: @Model.Id</p>
			<p>Title: @Model.Title</p>
			<p>Description: @Model.Description</p>
			<p>OldPrice: @Model.OldPrice</p>
			<p>NewPrice: @Model.NewPrice</p>
			<p>DepartmentName: @Model.Department.Name</p>
			<p>DepartmentId: @Model.Department.Id</p>
			<p>Create Time: @Model.CreatedTime</p>
			@if (Model.UpdatedTime is not null)
			{
				<p>Update Time: @Model.UpdatedTime</p>
			}

		</div>
	</div>
</div>
<!-- /.container-fluid -->

