@model Reservation

@{
    ViewData["Title"] = "Rezervasiya Detalları";
}

<h2>Rezervasiya Detalları</h2>

<table class="table table-striped">
    <tr>
        <th>ID:</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Ad Soyad:</th>
        <td>@Model.FullName</td>
    </tr>
    <tr>
        <th>Heyvan Növü:</th>
        <td>@Model.PetType.Name</td>
    </tr>
    <tr>
        <th>Xidmət:</th>
        <td>@Model.PetService.Name</td>
    </tr>
    <tr>
        <th>Tarix:</th>
        <td>@Model.Date.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Başlama Vaxtı:</th>
        <td>@Model.StartTime</td>
    </tr>
    <tr>
        <th>Bitmə Vaxtı:</th>
        <td>@Model.EndTime</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>@Model.Email</td>
    </tr>
   
<a href="@Url.Action("Index", "Reservation")" class="btn btn-secondary mt-3">Geri</a>
