@model ICollection<GetAllProductDto>
<section class="product__area-four">
    <div class="container">
        <div class="row gutter-20 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
            @foreach (GetAllProductDto item in Model)
            {
                <div class="col">
                    <div class="product__item">
                        <div class="product__thumb">
                            <a asp-controller="Shop" asp-action="ShopDetails" asp-route-id="@item.Id">
                                <img src="~/uploads/products/@item.CoverImageUrl" alt="img" class="product-image">
                            </a>
                           
                            <div class="sale-wrap">
                                <span>New</span>
                            </div>
                            <!-- Add to Cart Form -->
                            <div class="product__add-cart">
                                <form action="@Url.Action("AddToBasket", "Cart")" method="post">
                                    <input type="hidden" name="productId" value="@item.Id" />
                                    <button type="submit" class="btn"><i class="flaticon-shopping-bag"></i> Add To Cart</button>
                                </form>
                            </div>
                        </div>
                        <div class="product__content">
                            <h4 class="title"><a href="product-details.html">@item.Title</a></h4>
                            @if (item.NewPrice > 0)
                            {
                                <h3 class="price">@item.NewPrice AZN <del>@item.OldPrice </del></h3>
                            }
                            else
                            {
                                <h3 class="price">@item.OldPrice AZN </h3>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<style>
    .product-image {
        width: 100%; /* Şəkilin genişliyini konteynerə uyğunlaşdırır */
        height: 250px; /* Hündürlüyü müəyyən edir */
        object-fit: cover; /* Şəkili düzgün kəsərək konteynerə uyğunlaşdırır */
    }
</style>
